.employeeTable {   
   border-collapse:collapse;
   border:1px solid #000000;
   width:100%;
}

.employeeTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.employeeTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.employeeTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}

.theForm {
	background-color:cyan;
}

body > header > h1 {
    margin: 0;
    text-align:center;
	background-color:yellow;
}

body > footer > p {
    margin: 0;
    text-align:center;
	background-color:yellow;
    
}

